.main_view{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles_container_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles_container_main h1{
    font-size: 7rem;
    margin: 0;
}

.scroll_down_main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rojo);
    padding: 1.5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
    transition: all 0.3s;
}

.scroll_down_main a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.scroll_down_main:hover{
    background-color: var(--blanco);
}

.scroll_down_main:hover a{
    color: var(--rojo);
}