:root {
    margin: 0;
    padding: 0;
    --principal: #0A0A0A;
    --secundario: #1F1F1F;
    --rojo: #DA0037;
    --rojo2: #B22222;
    --blanco: #EDEDED;

    /*Propuesta de chat*/
    /* 🎨 Rojos */
    --rojo-oscuro: #A3002C;
    --rojo-claro: #FF4C65;

    /* ⚫ Negros / Grises */
    --gris-acero: #2E2E2E;

    /* 📝 Colores de texto */
    --texto-principal: #FFFFFF;
    --texto-secundario: #E0E0E0;
}
body{
    background-color: var(--principal);
}